<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Parallel Test Suite" parallel="tests" thread-count="5">

  <test name="Chrome Test">
       <parameter name="browser" value="Chrome" />
       <parameter name="version" value="101.0" />
       <parameter name="platform" value="WIN11" />
       <classes>
           <class name="testng.ParallelTest" />
       </classes>
  </test>
    
  <test name="Firefox Test">
       <parameter name="browser" value="Firefox" />
       <parameter name="version" value="100.0" />
       <parameter name="platform" value="WIN8" />
       <classes>
           <class name="testng.ParallelTest" />
       </classes>
  </test>
 
  <test name="Safari Test">
       <parameter name="browser" value="safari" />
       <parameter name="version" value="11.0" />
       <parameter name="platform" value="macos 10.13" />
       <classes>
           <class name="testng.ParallelTest" />
       </classes>
   </test>
   
   <test name="MS Edge Test">
       <parameter name="browser" value="Edge" />
       <parameter name="version" value="101.0" />
       <parameter name="platform" value="WIN10" />
       <classes>
           <class name="testng.ParallelTest" />
       </classes>
   </test>
  
   <test name="Opera Test">
       <parameter name="browser" value="Opera" />
       <parameter name="version" value="85.0" />
       <parameter name="platform" value="WIN10" />
       <classes>
           <class name="testng.ParallelTest" />
       </classes>
   </test>
</suite> 
